.head{
    text-align: center;
}
#countlabel{
    display: block;
    text-align: center;
    font-size: 7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-container{
text-align: center;
/* padding: 10px,20px; */
} 
.btns{
 font-size: 35px;
padding: 40px,80px;
color: whitesmoke;
background-color: rgb(56, 56, 209);
border-radius: 5px;
cursor: pointer;
transition: background-color 0.25sec;
border: blue;
}
.btns:hover{
background-color: orangered;

}